<div class="d-flex">
  <p class="mr-4">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="mr-4">@Html.ActionLink("Treats", "Index", "treats")</p>
  <p class="mr-4">@Html.ActionLink("Flavors", "Index", "flavors")</p>
</div>